/* Footer */
footer {
    display: flex;
    position: fixed;
    bottom: 0%;
    width: 100%;
    align-items: flex-end;
    background-color: rgb(36, 36, 36);
    padding-top: 1rem;
    padding-bottom: 1rem;
    nav{
        h4{
            color: white;
        }
        ul {
            list-style-type: none;
            a {
                color: white;
            }
        }
    }

    }
  