//Llamado a los archivos SASS
@import '_variables.scss';
@import '_extends-mixins';

//Header
header {
    position: sticky;
    top: 0;
    z-index: 1;
    .navbar-brand {
        color: $color-boreal;
        font-weight: 500
    }
}

//General Styles
@import '_general-styles.scss';

//Home
@import '_home.scss';

//Proyects
@import '_proyects.scss';

//Services
@import '_services.scss';

//About
@import '_about.scss';

//Contact
@import '_contact.scss';

//Footer
@import '_footer.scss';